nav{
    background-color: lightblue;
    height: 120px;
    width: 100%;
    }

nav ul{
    float: right;
}
ul{
    margin-right: 20px;
}

ul li{display: inline-block;
line-height: 50px;
margin: 0px 30px;
}
ul li a{
    color: rgb(219, 15, 15);
    font-size: 20px;
    padding: 0 13px;
    text-decoration: none;
}
 
a{background-color: darkkhaki;
}

a:hover{
    background-color: aqua;
    padding: 10px;
}



